<mat-toolbar class="header-sm">
    <span class="spacer"></span>
    <div class="top-menu">

        <span>
         <i class="fa fa-phone" aria-hidden="true" style="font-size: 20px;"></i>:(+91) 9542195451
        </span>
        <span>About us</span>
        <span>Contact us</span>
        <span><button mat-stroked-button color="warn">Login</button></span>

    </div>
</mat-toolbar>

<mat-toolbar class="header bg-danger">
   <span class="logo">
 <img src="images/mean.png">
    </span>
   <nav class="navbar animate_animated_animate_bounceInleft">
    <a>Home</a>
    <a>Men</a>
    <a>Women</a>
    <a>kids</a>
   </nav>
   <span class="spacer">
    <span>
        <mat-icon type="button" style="font-size: 30px; margin-right: 2rem; padding-top: 10px; color:
         azure;" matBadge="?" matBadgeColor="accent" matBadgeOverlap="false" aria-hidden="false">add_shopping_cart</mat-icon>
   </span>
   </span>

</mat-toolbar>
