<div class="container">
  <div class="card w-50 mx-auto">
    <div class="card-body">
      <div>
        <span class="text-danger fs-6">Id:</span>
        <span>{{ myCourse.id }}</span>
      </div>
      <div>
        <span class="text-danger fs-6">Name:</span>
        <span>{{ myCourse.name }}</span>
      </div>
      <div>
        <span class="text-danger fs-6">Tutor:</span>
        <span>{{ myCourse.tutor }}</span>
      </div>
    </div>
    <div class="card-footer">
      <button mat-button style="color: black; background-color: white;" (click)="goBack()">Go Back </button>
      <button mat-button color="warn" (click)="ViewDetails()">View Details</button>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>